/* Global styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  background-color: #1b1919;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Styles */

.content {
  margin: 0 auto;
  display: flex;
  align-items: end;
  gap: 30px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}

.result__video-container {
  position: relative;
  width: 711px;
  margin: 0 0 11px;
}

/* Search form */

.search-form {
  display: flex;
  gap: 40px;
  align-items: center;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: start;
  width: 224px;
  color: #fff;
  background: none;
  outline: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 15px;
  height: 15px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 190px;
}

.content {
  margin: 0 auto;
  display: flex;
  align-items: end;
  gap: 30px;
}

.content__list {
  position: relative;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: baseline;
}

.content__details {
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: start;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  margin: 2px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  padding: 4px 0;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  margin-left: auto;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Buttons */

.button {
  border: 1px solid #fff;
  padding: 6px 0;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
}

.content__details {
  inline-size: 100%;
}

.title {
  padding: 0 0 26px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 70.5px;
}

.content__accent {
  color: #545050;
}
